/****** Object:  StoredProcedure [pm].[spDatabaseSizeRawDelete]    Script Date: 1/16/2019 8:32:48 AM ******/

CREATE PROC [pm].[spDatabaseSizeRawDelete]
	@daysRetain int

AS

SET NOCOUNT ON
SET XACT_ABORT ON

BEGIN TRAN

DECLARE @CurrentDate datetime2
SET @CurrentDate = GetDate()

DELETE FROM [pm].[DatabaseSizeRaw]
WHERE [DateTime] < DateAdd(Day,-@daysRetain,@CurrentDate)

COMMIT
GO
GRANT EXECUTE ON [pm].[spDatabaseSizeRawDelete] TO [pmUpdate] AS [dbo]
GO
