/****************************************************************
* Name: scom.spWindowsComputerSelectByDNSHostName
* Author: huscott
* Date: 2015-02-24
*
* Description:
*
****************************************************************/
CREATE PROC [scom].[spWindowsComputerSelectByDNSHostName] (
	@DNSHostName nvarchar(255)
)

AS

SELECT [ID]
      ,[DNSHostName]
      ,[IPAddress]
      ,[ObjectSID]
      ,[NetBIOSDomainName]
      ,[DomainDNSName]
      ,[OrganizationalUnit]
      ,[ForestDNSName]
      ,[ActiveDirectorySite]
      ,[IsVirtualMachine]
      ,[HealthState]
      ,[StateLastModified]
      ,[IsAvailable]
      ,[AvailabilityLastModified]
      ,[InMaintenanceMode]
      ,[MaintenanceModeLastModified]
      ,[ManagementGroup]
      ,[Active]
      ,[dbAddDate]
      ,[dbLastUpdate]
  FROM [scom].[WindowsComputer]
  WHERE [DNSHostName] = @DNSHostName
GO

GRANT EXEC ON [scom].[spWindowsComputerSelectByDNSHostName] TO [scomRead]
GO

GRANT EXEC ON [scom].[spWindowsComputerSelectByDNSHostName] TO [scomUpdate]
GO