/****** Object:  StoredProcedure [cm].[spAnalysisDatabaseSelectByAnalysisInstance]    Script Date: 1/16/2019 8:32:48 AM ******/
CREATE PROC [cm].[spAnalysisDatabaseSelectByAnalysisInstance] 
    @AnalysisInstanceGUID uniqueidentifier
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [objectGUID], [AnalysisInstanceGUID], [DatabaseName], [Description], [UpdateAbility], [EstimatedSize], [CreateDate], [LastProcessedDate], [LastSchemaUpdate], [Collation], [State], [Active], [dbAddDate], [dbLastUpdate] 
	FROM   [cm].[AnalysisDatabase] 
	WHERE  ([AnalysisInstanceGUID] = @AnalysisInstanceGUID) 

	COMMIT
GO