/****** Object:  Table [cm].[WindowsUpdateInstallation]    Script Date: 1/16/2019 8:32:48 AM ******/
CREATE TABLE [cm].[WindowsUpdateInstallation](
	[objectGUID] [uniqueidentifier] NOT NULL,
	[ComputerGUID] [uniqueidentifier] NOT NULL,
	[WindowsUpdateGUID] [uniqueidentifier] NOT NULL,
	[InstallDate] [datetime2](3) NULL,
	[InstallBy] [nvarchar](128) NULL,
	[Active] [bit] NOT NULL,
	[dbAddDate] [datetime2](3) NOT NULL,
	[dbLastUpdate] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_cm_WindowsUpdateInstallation] PRIMARY KEY CLUSTERED 
(
	[objectGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT REFERENCES ON [cm].[WindowsUpdateInstallation] TO [cmRead] AS [dbo]
GO
GRANT SELECT ON [cm].[WindowsUpdateInstallation] TO [cmRead] AS [dbo]
GO
/****** Object:  Index [IX_cm_WindowsUpdateInstallation]    Script Date: 1/16/2019 8:32:48 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_cm_WindowsUpdateInstallation] ON [cm].[WindowsUpdateInstallation]
(
	[ComputerGUID] ASC,
	[WindowsUpdateGUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [cm].[WindowsUpdateInstallation] ADD  CONSTRAINT [DF_cm_WindowsUpdateInstallation]  DEFAULT (newid()) FOR [objectGUID]
GO
