<configuration>
  <connectionStrings>
    <CentralRepository connectionString="Data Source=__SCORE_DB__;Initial Catalog=SCORE;Integrated Security=SSPI;Application Name='SCORE'" />
  </connectionStrings>
  <servers>
    <ManagementGroup name="MGMT_GROUP" server="MGMT_SERVER" />
  </servers>
  <settings>
	<ThrottleLimit Value="2" />
	<AgentName Value="Default" />
  </settings>
  <ObjectClasses>
     <ObjectClass name="Microsoft.Windows.Server.Computer" genericClass="Windows Server" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.LogicalDisk" genericClass="Windows Logical Disk" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.SQLServer.Windows.DBEngine" genericClass="SQL DB Engine" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.SQLServer.Windows.Database" genericClass="SQL Database" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Site" genericClass="Active Directory Site" active="False" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Library.Site" genericClass="Active Directory Site" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Library.DomainControllerRole" genericClass="Domain Controller" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.SystemCenter.ManagementGroup" genericClass="Operations Manager Management Group" active="True" DistributedApplication="True"/>
     <ObjectClass name="Microsoft.Windows.InternetInformationServices.WebSite" genericClass="IIS Web Site" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.InternetInformationServices.WebServer" genericClass="IIS Web Server" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Cluster" genericClass="Failover Cluster" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Unix.Computer" genericClass="Unix/Linux Computer" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.ClusterDisksMonitoring.ClusterDisk" genericClass="Windows Logical Disk" active="True" DistributedApplication="False" />
     <ObjectClass name="Microsoft.Windows.Server.ClusterSharedVolumeMonitoring.ClusterSharedVolume" genericClass="Windows Logical Disk" active="True" DistributedApplication="False" />
  </ObjectClasses>
</configuration>
