/****************************************************************
* Name: ad.spGroupMemberSelect
* Author: huscott
* Date: 2015-02-24
*
* Description:
*
****************************************************************/
CREATE PROC [ad].[spGroupMemberSelect] 
    @ID bigint
AS 
	SET NOCOUNT ON 
	SET XACT_ABORT ON  

	BEGIN TRAN

	SELECT [ID], [Domain], [GroupGUID], [MemberGUID], [MemberType], [Active], [dbAddDate], [dbLastUpdate] 
	FROM   [ad].[GroupMember] 
	WHERE  ([ID] = @ID OR @ID IS NULL) 

	COMMIT
GO
GRANT EXECUTE ON [ad].[spGroupMemberSelect] TO [adUpdate] AS [dbo]
GO
