<configuration>
  <version>2.0</version>
  <connectionStrings>
    <CentralRepository connectionString="Data Source=sqlag2.abcd.lcl;Initial Catalog=SCORE;Integrated Security=SSPI;Application Name='SCORE'" />
  </connectionStrings>
  <OperationsManager>
    <ManagementGroup Name="ABCD_OM" Active="True">
      <Servers>
        <Server Name="MGR31.abcd.lcl" Active="True" />
        <Server Name="MGR93.abcd.lcl" Active="False" />
      </Servers>
    </ManagementGroup>
  </OperationsManager>
  <settings>
	  <ThrottleLimit Value="2" />
	  <AgentName Value="Default" />
    <ScomFullSyncThreshold Value="180" />
    <ADFullSyncThreshold Value="720" />
  </settings>
  <ObjectClasses>
     <ObjectClass name="Microsoft.Windows.Server.Computer" genericClass="Windows Server" active="True" />
     <ObjectClass name="Microsoft.SystemCenter.HealthService" genericClass="Health Service" active="True" />
     <ObjectClass name="Microsoft.SQLServer.Windows.DBEngine" genericClass="SQL DB Engine" active="True" />
     <ObjectClass name="Microsoft.SQLServer.Windows.Database" genericClass="SQL Database" active="True" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Site" genericClass="Active Directory Site" active="False" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Library.Site" genericClass="Active Directory Site" active="True" />
     <ObjectClass name="Microsoft.Windows.Server.AD.Library.DomainControllerRole" genericClass="Domain Controller" active="True" />
     <ObjectClass name="Microsoft.Windows.InternetInformationServices.WebSite" genericClass="IIS Web Site" active="True" />
     <ObjectClass name="Microsoft.Windows.InternetInformationServices.WebServer" genericClass="IIS Web Server" active="True" />
     <ObjectClass name="Microsoft.Windows.Cluster" genericClass="Windows Cluster" active="True" />
     <ObjectClass name="Microsoft.Unix.Computer" genericClass="Unix/Linux Computer" active="False" />
     <ObjectClass name="Microsoft.Windows.Server.LogicalDisk" genericClass="Windows Logical Disk" active="True" />
     <ObjectClass name="Microsoft.Windows.Server.ClusterDisksMonitoring.ClusterDisk" genericClass="Windows Logical Disk" active="True" />
     <ObjectClass name="Microsoft.Windows.Server.ClusterSharedVolumeMonitoring.ClusterSharedVolume" genericClass="Windows Logical Disk" active="True" />
     <ObjectClass name="Microsoft.Windows.DNSServer.2016.DNSDomain" genericClass="DNS Domain" active="False" />
  </ObjectClasses>
  <Groups>
    <Group displayName="All Windows Computers" active="True" />
    <Group displayName="DNS 2012 R2 Servers" active="False" />
    <Group displayName="DNS 2016 and 1709+ Servers" active="True" />
    <Group displayName="Operations Manager Management Servers" active="True" />
    <Group displayName="Operations Manager Agents" active="True" />
    <Group displayName="IIS Computer Group" active="True" />
    <Group displayName="SQL Server Computers" active="False" />
    <Group displayName="Windows Server Computer Group" active="True" />
  </Groups>
  <DistributedApplications>
    <DistributedApplication DisplayName="Operations Manager Management Group" objectID="6b1d1be8-ebb4-b425-08dc-2385c5930b04" genericClass="Operations Manager Management Group" active="True" />
  </DistributedApplications>
</configuration>
