<configuration>
  <connectionStrings>
    <CentralRepository connectionString="Data Source=SQL33.abcd.lcl;Initial Catalog=SCORE;Integrated Security=sspi;Application Name='Powershell Monitoring Framework'" />
    <ManagementServer name="MGR31.abcd.lcl" />
  </connectionStrings>
  <servers>
    <ManagementGroup name="ABCD_OM" server="MGR31.ABCD.LCL" />
  </servers>
  <settings>
	<ThrottleLimit Value="2" />
	<AgentName Value="Default" />
  </settings>
</configuration>